<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NatureX</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen w-full bg-[#EFF5D2 ]">
    <a href="index.html"></a>
    <div class="flex items-center justify-center h-screen bg-[#EFF5D2]">
  <body class="min-h-screen w-full bg-[#EFF5D2 ]">
    <a href="index.html"></a>
    <div class="flex items-center justify-center h-screen bg-[#EFF5D2]">
    
    <img src="/aset/photo_6062167925822524841_y-removebg-preview.png" class="w-60 mx-auto mb-4">

  </div>
</div>

<body class="min-h-screen w-full bg-[#EFF5D2 ]">

 <div class="flex items-center justify-between h-screen pl-40 pr-60 bg-[#EFF5D2]">
    <!-- Kiri (Logo) -->
    <div>
      <h1 class="text-6xl font-serif text-green-800">
        Nature<span class="text-green-500">X</span>
      </h1>
    </div>


    <!-- Kanan (Button) -->
    <div class="flex flex-col items-center gap-4">
      <a href="/login.html">
      <button class="w-64 py-3 border border-green-700 rounded-md text-green-800 hover:bg-green-100 transition">
        Login
      </button>
      </a>

      <p class="text-sm text-gray-600">OR</p>

      <a href="/register.html">
        <button class="w-64 py-3 border border-gray-500 rounded-md text-gray-700 hover:bg-gray-100 transition">
        Register
      </button>
      </a>
    </div>
