<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Password</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen bg-[#DDE5C2] font-sans">

 <div class="flex min-h-screen items-center px-20">

  <!-- KIRI -->
  <div class="w-1/2 flex items-center">
    <h1 class="text-5xl font-semibold">
      New Password
    </h1>
  </div>

  <!-- KANAN -->
  <div class="w-1/2 flex justify-center">
    <div class="w-350px">

      <!-- Input -->
      <label class="block mb-2 text-sm">Enter New password</label>
      <input type="password"
        class="w-full border border-green-700 rounded-md px-4 py-2 mb-6 bg-transparent">
        

      <label class="block mb-2 text-sm">Confirm Password</label>
      <input type="password"
        class="w-full border border-green-700 rounded-md px-4 py-2 mb-8 bg-transparent">

      <!-- Button (tengah di kolom kanan) -->
      <div class="flex justify-start">
        <a href="/homepage.html">
        <button class="bg-green-600 px-6 py-2 rounded-md">
          Send
        </button>
        </a>
      </div>

    </div>
  </div>

</div>

</body>
</html>