<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>verifikasi</title>
</head>
<body>
    <body class="min-h-screen w-full bg-[#EFF5D2 ]">
    <a href="index.html"></a>
    <div class="flex items-center justify-center h-screen bg-[#EFF5D2]">
    
      <!-- verifikasi password  -->
   
   <body class="min-h-screen bg-[#DDE5C2] font-sans relative">

  <!-- Back Arrow -->
  <div class="absolute top-6 left-8 text-xl cursor-pointer">
    ←
  </div>

  <!-- Content -->
  <div class="flex flex-col items-center justify-center min-h-screen gap-10 bg-[#EFF5D2]">
    
    <!-- Title -->
    <h1 class="text-4xl font-semibold">
      Verifikasi Password
    </h1>

    <!-- OTP Circle -->
    <div class="flex gap-10">
      <div class="w-20 h-20 bg-[#FFFFFF] rounded-full"></div>
      <div class="w-20 h-20 bg-[#FFFFFF] rounded-full"></div>
      <div class="w-20 h-20 bg-[#FFFFFF] rounded-full"></div>
      <div class="w-20 h-20 bg-[#FFFFFF] rounded-full"></div>
    </div>

    <!-- Text -->
    <p class="text-sm text-gray-800">
      If you didn’t recieve a code, 
      <span class="font-semibold cursor-pointer">Resend</span>
    </p>

    <!-- Button -->
    <a href="homepage.html">
      <button class="bg-green-600 text-black px-6 py-2 rounded-md">
      Send
    </button>
    </a>

  </div>
</body>
</html>